services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        - VITE_ENV_FILE=.env
    ports:
      - "3000:80"
    depends_on:
      - server
    networks:
      - app-network
    volumes:
      - ./client/nginx.conf:/etc/nginx/conf.d/default.conf:ro

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
      args:
        - SERVER_ENV_FILE=.env
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
